@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;;
}

body {
  background-color: #fffaf0;
  margin: 0;
}
